header{
        background-color: #0000FF;
        color: #00FFFF;
        text-align: center;
}

main{
      background-color: #808080;
}


body{
      background-image: url("record.png");
      background-repeat: repeat;
}
