header{

}

main{
      background-color: #808080;
      padding: 1em;
}


body{
      background-image: url("record.png");
      background-repeat: repeat;
      margin: 0;
}

.title{
        background-color: #0000FF;
        color: #00FFFF;
        text-align: center;
}
